<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
    <section class="section">
      <div class="container">
        <%= render 'layouts/navbar' %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
