<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <img src="https://i.pinimg.com/originals/32/be/8f/32be8f9c6236caefae9e83b455df937e.png">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <a href="<%= offres_path %>" class="navbar-item <%= id_active('offres', 'index') %>">
  	  <span class="icon has-text-grey-lighter"><i class="fas fa-book"></i></span>
  	  <span>Offres<span>
  	</a>
    <a href="<%= membres_path %>" class="navbar-item <%= id_active('membres', 'index') %>">
  	  <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
  	  <span>Membres<span>
  	</a>
  	<a href="<%= aide_path %>" class="navbar-item <%= id_active('pages', 'aide') %>">
  	  <span class="icon has-text-danger"><i class="fas fa-heart"></i></span>
  	  <span>Aide<span>
  	</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Mon compte</a>
        <div class="navbar-dropdown">
		<a href="<?= Helpers::route('Users#profile') ?>" class="navbar-item">Mon profil</a>
          <a href="<?= Helpers::route('Users#settings') ?>" class="navbar-item">Mes paramètres</a>
    	  <hr class="navbar-divider">
    	  <a href="<?= Helpers::route('Users#logout') ?>" class="navbar-item">Déconnexion</a>
        </div>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a href="<%= register_path %>" class="button is-primary gradient"><strong>Trouver un job</strong></a>
          <a href="<%= register_path %>" class="button is-light">Se connecter</a>
        </div>
      </div>
    </div>
  </div>
</nav>
