<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
    <% unless no_container %>
      <section class="section">
        <div class="container">
    <% end %>
            <%= render 'layouts/navbar' %>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= render 'layouts/flash' %>
            <%= yield %>
     <% unless no_container %>
          </div>
      </section>
    <% end %>
  </body>
</html>
